MyHerbalife3.Ordering.ServiceProvider/Service References/EventRestSvc/EventRest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2009/01/15/HL.Event.Interfaces" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2009/01/15/HL.Event.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa2wcf01.hrbl.net/Service/Event/EventRest.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" />
  <xs:import schemaLocation="http://usws1qa2wcf01.hrbl.net/Service/Event/EventRest.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="CopyLandingPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="SourceLocaleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TargetLocales" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyLandingPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="CopyLandingPageResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentFlyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttachmentFlyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="GetAttachmentFlyerResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventId" type="xs:int" />
        <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocaleCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="GetEventDetailsResult" nillable="true" type="q3:GetEventDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="GetEventImageResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSubtypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocaleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventSubtypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="GetEventSubtypesResult" nillable="true" type="q5:GetEventSubtypesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocaleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="GetEventsListResult" nillable="true" type="q6:GetEventsListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="GetLocalesResult" nillable="true" type="q7:GetLocalesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLandingPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="request" nillable="true" type="q8:LandingPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLandingPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="SaveLandingPageResult" nillable="true" type="q9:SaveLandingPageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLandingPage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLandingPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="SearchLandingPageResult" nillable="true" type="q10:ArrayOfLandingPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLandingPageEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLandingPageEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="SearchLandingPageEventsResult" nillable="true" type="q11:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandingPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="Request" nillable="true" type="q12:GetLandingPageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandingPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HL.Event.ValueObjects.EventRest" minOccurs="0" name="GetLandingPageResult" nillable="true" type="q13:GetLandingPageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>