MyHerbalife3.Ordering.ServiceProvider/Service References/ShippingMexicoSvc/Shipping1511.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HL.Shipping.ValueObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HL.Shipping.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/Shipping/Mexico/Shipping.Mexico.svc?xsd=xsd5" namespace="http://herbalife.com/2010/02/02/HL.Shipping.ValueObjects" />
  <xs:complexType name="ShippingAlternativesResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2010/02/02/HL.Shipping.ValueObjects" base="q1:ShippingAlternativesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeliveryAlternatives" nillable="true" type="q1:ArrayOfShippingOption_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShippingAlternativesResponse_V01" nillable="true" type="tns:ShippingAlternativesResponse_V01" />
  <xs:complexType name="CityBoxAlternativesResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2010/02/02/HL.Shipping.ValueObjects" base="q2:ShippingAlternativesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeliveryAlternatives" nillable="true" type="q2:ArrayOfCityBoxAddress_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CityBoxAlternativesResponse_V01" nillable="true" type="tns:CityBoxAlternativesResponse_V01" />
</xs:schema>