MyHerbalife3.Ordering.ServiceProvider/Service References/ShippingMexicoSvc/Shipping155.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/01/21/HL.Shipping.Mexico.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/01/21/HL.Shipping.Mexico.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/Shipping/Mexico/Shipping.Mexico.svc?xsd=xsd3" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="DeliveryOptionForIDRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeliveryOptionForIDRequest" nillable="true" type="tns:DeliveryOptionForIDRequest" />
  <xs:complexType name="DeliveryOptionForIDRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeliveryOptionForIDRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeliveryOptionForIDRequest_V01" nillable="true" type="tns:DeliveryOptionForIDRequest_V01" />
  <xs:complexType name="ColoniesForMunicipalityRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColoniesForMunicipalityRequest" nillable="true" type="tns:ColoniesForMunicipalityRequest" />
  <xs:complexType name="ColoniesForMunicipalityRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ColoniesForMunicipalityRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Municipality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColoniesForMunicipalityRequest_V01" nillable="true" type="tns:ColoniesForMunicipalityRequest_V01" />
  <xs:complexType name="ZipCodeLookupRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q3:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZipCodeLookupRequest" nillable="true" type="tns:ZipCodeLookupRequest" />
  <xs:complexType name="ZipCodeLookupRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ZipCodeLookupRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Colony" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Municipality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZipCodeLookupRequest_V01" nillable="true" type="tns:ZipCodeLookupRequest_V01" />
</xs:schema>