MyHerbalife3.Ordering.ServiceProvider/Service References/ShippingMexicoSvc/Shipping15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2008/06/23/HL.Shipping.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2008/06/23/HL.Shipping.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/Shipping/Mexico/Shipping.Mexico.svc?xsd=xsd11" namespace="http://herbalife.com/2007/12/12/HL.Common.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/Shipping/Mexico/Shipping.Mexico.svc?xsd=xsd3" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="ShippingAddress_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ShippingAddress">
        <xs:sequence>
          <xs:element xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.ValueObjects" minOccurs="0" name="Address" nillable="true" type="q1:Address_V01" />
          <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AltAreaCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AltPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.ValueObjects" minOccurs="0" name="Attention" nillable="true" type="q2:Name_V01" />
          <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPrimary" type="xs:boolean" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Recipient" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShippingAddress_V01" nillable="true" type="tns:ShippingAddress_V01" />
  <xs:complexType name="ShippingAddress">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q3:VersionedObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShippingAddress" nillable="true" type="tns:ShippingAddress" />
</xs:schema>