MyHerbalife3.Ordering.ServiceProvider/Service References/ShoppingCartSvc/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HL.Order.ValueObjects.SKULimitation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HL.Order.ValueObjects.SKULimitation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/ShoppingCart/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2008/06/23/HL.Order.ValueObjects" />
  <xs:complexType name="ArrayOfPurchaseRestrictionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseRestrictionInfo" nillable="true" type="tns:PurchaseRestrictionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseRestrictionInfo" nillable="true" type="tns:ArrayOfPurchaseRestrictionInfo" />
  <xs:complexType name="PurchaseRestrictionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxQuantity" type="xs:int" />
      <xs:element xmlns:q1="http://herbalife.com/2008/06/23/HL.Order.ValueObjects" minOccurs="0" name="SKUInfoList" nillable="true" type="q1:ArrayOfPurchaseRestrictionSKUInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseRestrictionInfo" nillable="true" type="tns:PurchaseRestrictionInfo" />
</xs:schema>