MyHerbalife3.Ordering.ServiceProvider/Service References/ShoppingCartSvc/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HL.Order.ValueObjects.Installments" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HL.Order.ValueObjects.Installments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInstallmentFee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstallmentFee" nillable="true" type="tns:InstallmentFee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstallmentFee" nillable="true" type="tns:ArrayOfInstallmentFee" />
  <xs:complexType name="InstallmentFee">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="InstallmentNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallmentFee" nillable="true" type="tns:InstallmentFee" />
  <xs:complexType name="ArrayOfPriceStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceStrategy" nillable="true" type="tns:PriceStrategy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceStrategy" nillable="true" type="tns:ArrayOfPriceStrategy" />
  <xs:complexType name="PriceStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargeFee" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxInstallments" type="xs:int" />
      <xs:element minOccurs="0" name="PriceThreshold" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceStrategy" nillable="true" type="tns:PriceStrategy" />
  <xs:complexType name="ArrayOfVolumeStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VolumeStrategy" nillable="true" type="tns:VolumeStrategy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolumeStrategy" nillable="true" type="tns:ArrayOfVolumeStrategy" />
  <xs:complexType name="VolumeStrategy">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargeFee" type="xs:boolean" />
      <xs:element minOccurs="0" name="EffectiveDates" nillable="true" type="tns:EffectiveDates" />
      <xs:element minOccurs="0" name="MaxInstallments" type="xs:int" />
      <xs:element minOccurs="0" name="Volume" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolumeStrategy" nillable="true" type="tns:VolumeStrategy" />
  <xs:complexType name="EffectiveDates">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EffectiveDates" nillable="true" type="tns:EffectiveDates" />
</xs:schema>