MyHerbalife3.Ordering.ServiceProvider/Service References/ShoppingCartSvc/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyHerbalife3.Ordering.SharedProviders.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyHerbalife3.Ordering.SharedProviders.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFailedCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FailedCardInfo" nillable="true" type="tns:FailedCardInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFailedCardInfo" nillable="true" type="tns:ArrayOfFailedCardInfo" />
  <xs:complexType name="FailedCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FailedCardInfo" nillable="true" type="tns:FailedCardInfo" />
</xs:schema>