MyHerbalife3.Ordering.ServiceProvider/Service References/ShoppingCartSvc/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2011/01/01/HL.Order.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2011/01/01/HL.Order.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/ShoppingCart/Service.svc?xsd=xsd2" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="UpdateSubscriptionsRequestBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateSubscriptionsRequestBase" nillable="true" type="tns:UpdateSubscriptionsRequestBase" />
  <xs:complexType name="UpdateSubscriptionsOnDistributorDivorceRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdateSubscriptionsRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OriginalDistributorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValidateAfterUpdate" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateSubscriptionsOnDistributorDivorceRequest_V01" nillable="true" type="tns:UpdateSubscriptionsOnDistributorDivorceRequest_V01" />
  <xs:complexType name="UpdateSubscriptionsResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdateSubscriptionsResponseBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateSubscriptionsResponse_V01" nillable="true" type="tns:UpdateSubscriptionsResponse_V01" />
  <xs:complexType name="UpdateSubscriptionsResponseBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateSubscriptionsResponseBase" nillable="true" type="tns:UpdateSubscriptionsResponseBase" />
</xs:schema>