MyHerbalife3.Ordering.ServiceProvider/Service References/ShoppingCartSvc/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2008/06/23/HL.Order.ValueObjects.HPSObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2008/06/23/HL.Order.ValueObjects.HPSObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/ShoppingCart/Service.svc?xsd=xsd2" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="HPSCreditCardType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:VersionedObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CardNumberValidationRegexText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HPSCreditCardType" nillable="true" type="tns:HPSCreditCardType" />
  <xs:complexType name="ArrayOfHPSCreditCardType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HPSCreditCardType" nillable="true" type="tns:HPSCreditCardType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHPSCreditCardType" nillable="true" type="tns:ArrayOfHPSCreditCardType" />
</xs:schema>