MyHerbalife3.Ordering.ServiceProvider/Service References/ShoppingCartSvc/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2013/12/23/HL.Order.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2013/12/23/HL.Order.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/ShoppingCart/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2008/06/23/HL.Order.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/ShoppingCart/Service.svc?xsd=xsd11" namespace="http://herbalife.com/2008/06/23/HL.Catalog.ValueObjects" />
  <xs:complexType name="OnlineOrder">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2008/06/23/HL.Order.ValueObjects" base="q1:Order_V01">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasFeedBack" type="xs:boolean" />
          <xs:element minOccurs="0" name="InvoiceOrder" nillable="true" type="q1:InvoiceOrder_V01" />
          <xs:element minOccurs="0" name="NTSDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OrderHeaderID" type="xs:int" />
          <xs:element minOccurs="0" name="RDC" type="xs:int" />
          <xs:element minOccurs="0" name="RDCName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShoppingCartID" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StoreInfo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnlineOrder" nillable="true" type="tns:OnlineOrder" />
  <xs:complexType name="OnlineOrderItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2008/06/23/HL.Order.ValueObjects" base="q2:OrderItem_V01">
        <xs:sequence>
          <xs:element name="Description" nillable="true" type="xs:string" />
          <xs:element name="IsFreeFreight" type="xs:boolean" />
          <xs:element name="IsPromo" type="xs:boolean" />
          <xs:element name="PricingUnit" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://herbalife.com/2008/06/23/HL.Catalog.ValueObjects" name="ProductType" type="q3:ProductType" />
          <xs:element name="RetailPrice" type="xs:decimal" />
          <xs:element name="VolumePoint" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnlineOrderItem" nillable="true" type="tns:OnlineOrderItem" />
</xs:schema>