MyHerbalife3.Ordering.ServiceProvider/Service References/PaymentGatewayBridgeSvc/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces/Imports">
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Legacy/PaymentGatewayBridge/Service.svc?xsd=xsd4" namespace="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces" />
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Legacy/PaymentGatewayBridge/Service.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Legacy/PaymentGatewayBridge/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.ValueObjects" />
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Legacy/PaymentGatewayBridge/Service.svc?xsd=xsd2" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Legacy/PaymentGatewayBridge/Service.svc?xsd=xsd3" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.Interfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentGatewayBridgeInterface_GetVEPagoElectronicoDigest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVEPagoElectronicoDigest" />
  </wsdl:message>
  <wsdl:message name="IPaymentGatewayBridgeInterface_GetVEPagoElectronicoDigest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVEPagoElectronicoDigestResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentGatewayBridgeInterface_SendTutunskaPaymentService_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTutunskaPaymentService" />
  </wsdl:message>
  <wsdl:message name="IPaymentGatewayBridgeInterface_SendTutunskaPaymentService_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTutunskaPaymentServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentGatewayBridgeInterface">
    <wsdl:operation name="GetVEPagoElectronicoDigest">
      <wsdl:input wsaw:Action="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces/IPaymentGatewayBridgeInterface/GetVEPagoElectronicoDigest" message="tns:IPaymentGatewayBridgeInterface_GetVEPagoElectronicoDigest_InputMessage" />
      <wsdl:output wsaw:Action="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces/IPaymentGatewayBridgeInterface/GetVEPagoElectronicoDigestResponse" message="tns:IPaymentGatewayBridgeInterface_GetVEPagoElectronicoDigest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTutunskaPaymentService">
      <wsdl:input wsaw:Action="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces/IPaymentGatewayBridgeInterface/SendTutunskaPaymentService" message="tns:IPaymentGatewayBridgeInterface_SendTutunskaPaymentService_InputMessage" />
      <wsdl:output wsaw:Action="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces/IPaymentGatewayBridgeInterface/SendTutunskaPaymentServiceResponse" message="tns:IPaymentGatewayBridgeInterface_SendTutunskaPaymentService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>