MyHerbalife3.Ordering.ServiceProvider/Service References/PaymentGatewayBridgeSvc/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Legacy/PaymentGatewayBridge/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.ValueObjects" />
  <xs:element name="GetVEPagoElectronicoDigest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.ValueObjects" minOccurs="0" name="request" nillable="true" type="q1:GetVEPagoElectronicoDigestRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVEPagoElectronicoDigestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.ValueObjects" minOccurs="0" name="GetVEPagoElectronicoDigestResult" nillable="true" type="q2:GetVEPagoElectronicoDigestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTutunskaPaymentService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.ValueObjects" minOccurs="0" name="request" nillable="true" type="q3:GetTutunskaPaymentServiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTutunskaPaymentServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://herbalife.com/2011/11/21/HL.PaymentGatewayBridge.ValueObjects" minOccurs="0" name="SendTutunskaPaymentServiceResult" nillable="true" type="q4:GetTutunskaPaymentServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>