MyHerbalife3.Ordering.ServiceProvider/Service References/CustomerOrderSvc/Service1410.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HL.Order.ValueObjects.CustomerOrder" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HL.Order.ValueObjects.CustomerOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa4wcf01/Service/CustomerOrder/Service.svc?xsd=xsd2" namespace="http://herbalife.com/2008/06/23/HL.Order.ValueObjects" />
  <xs:complexType name="GetOrdersTrakingEmailRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2008/06/23/HL.Order.ValueObjects" base="q1:GetOrdersTrakingEmailRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProcessingCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusFilter" nillable="true" type="q1:ArrayOfCustomerOrderStatusType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOrdersTrakingEmailRequest_V01" nillable="true" type="tns:GetOrdersTrakingEmailRequest_V01" />
</xs:schema>