MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorSvc/Service8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2013/07/02/HL.Distributor.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2013/07/02/HL.Distributor.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/Distributor/Service.svc?xsd=xsd2" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/Distributor/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Distributor.ValueObjects" />
  <xs:complexType name="GetDistributorNotesRequestBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceRequestParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistributorId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDistributorNotesRequestBase" nillable="true" type="tns:GetDistributorNotesRequestBase" />
  <xs:complexType name="GetDistributorNotesRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetDistributorNotesRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NoteCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoteType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDistributorNotesRequest_V01" nillable="true" type="tns:GetDistributorNotesRequest_V01" />
  <xs:complexType name="GetDistributorNotesResponseBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceResponseValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistributorId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDistributorNotesResponseBase" nillable="true" type="tns:GetDistributorNotesResponseBase" />
  <xs:complexType name="GetDistributorNotesResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetDistributorNotesResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistibutorNotes" nillable="true" type="tns:ArrayOfDistributorNote_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDistributorNotesResponse_V01" nillable="true" type="tns:GetDistributorNotesResponse_V01" />
  <xs:complexType name="ArrayOfDistributorNote_V01">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistributorNote_V01" nillable="true" type="tns:DistributorNote_V01" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistributorNote_V01" nillable="true" type="tns:ArrayOfDistributorNote_V01" />
  <xs:complexType name="DistributorNote_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DistributorNote">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NoteCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoteType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DistributorNote_V01" nillable="true" type="tns:DistributorNote_V01" />
  <xs:complexType name="DistributorNote">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q3:VersionedObjectBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DistributorNote" nillable="true" type="tns:DistributorNote" />
  <xs:complexType name="IsUniqueEmailAddressRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://herbalife.com/2007/12/12/HL.Distributor.ValueObjects" base="q4:IsUniqueEmailAddressRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPrimary" type="xs:boolean" />
          <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsUniqueEmailAddressRequest_V01" nillable="true" type="tns:IsUniqueEmailAddressRequest_V01" />
  <xs:complexType name="IsUniqueMobileNumberRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://herbalife.com/2007/12/12/HL.Distributor.ValueObjects" base="q5:IsUniqueMobileNumberRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneCountryCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsUniqueMobileNumberRequest_V01" nillable="true" type="tns:IsUniqueMobileNumberRequest_V01" />
</xs:schema>