MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2015/02/19/HL.DistributorCRM.ValueObjects.Lead" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2015/02/19/HL.DistributorCRM.ValueObjects.Lead" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd5" namespace="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Lead" />
  <xs:complexType name="LMSDistributorInfo_V03">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Lead" base="q1:LMSDistributorInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LMSDistributorInfo_V03" nillable="true" type="tns:LMSDistributorInfo_V03" />
  <xs:complexType name="LMSQualifiedMemberSearchResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Lead" base="q2:LMSQualifiedMemberSearchResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistributorInfoList" nillable="true" type="tns:ArrayOfLMSDistributorInfo_V03" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LMSQualifiedMemberSearchResponse_V01" nillable="true" type="tns:LMSQualifiedMemberSearchResponse_V01" />
  <xs:complexType name="ArrayOfLMSDistributorInfo_V03">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LMSDistributorInfo_V03" nillable="true" type="tns:LMSDistributorInfo_V03" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLMSDistributorInfo_V03" nillable="true" type="tns:ArrayOfLMSDistributorInfo_V03" />
  <xs:complexType name="LMSQualifiedMemberSearchRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Lead" base="q3:LMSQualifiedMemberSearchRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LanguageCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LMSQualifiedMemberSearchRequest_V01" nillable="true" type="tns:LMSQualifiedMemberSearchRequest_V01" />
</xs:schema>