MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service60.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Distributor" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Distributor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="GetEnhancedVisibilityResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEnhancedVisibilityResponse" nillable="true" type="tns:GetEnhancedVisibilityResponse" />
  <xs:complexType name="GetEnhancedVisibilityResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetEnhancedVisibilityResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="EnhancedVisibility" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEnhancedVisibilityResponse_V01" nillable="true" type="tns:GetEnhancedVisibilityResponse_V01" />
  <xs:complexType name="SetEnhancedVisibilityResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetEnhancedVisibilityResponse" nillable="true" type="tns:SetEnhancedVisibilityResponse" />
  <xs:complexType name="SetEnhancedVisibilityResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SetEnhancedVisibilityResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetEnhancedVisibilityResponse_V01" nillable="true" type="tns:SetEnhancedVisibilityResponse_V01" />
</xs:schema>