MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2011/01/10/HL.DistributorCRM.ValueObjects.Email" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2011/01/10/HL.DistributorCRM.ValueObjects.Email" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd49" namespace="http://herbalife.com/2011/01/21/HL.DistributorCRM.ValueObjects.Email" />
  <xs:complexType name="TriggeredSendRequestRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TriggeredSendRequestRequest" nillable="true" type="tns:TriggeredSendRequestRequest" />
  <xs:complexType name="TriggeredSendRequestRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TriggeredSendRequestRequest">
        <xs:sequence>
          <xs:element xmlns:q2="http://herbalife.com/2011/01/21/HL.DistributorCRM.ValueObjects.Email" minOccurs="0" name="Data" nillable="true" type="q2:TriggeredSendData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TriggeredSendRequestRequest_V01" nillable="true" type="tns:TriggeredSendRequestRequest_V01" />
</xs:schema>