MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2014/10/30/HL.DistributorCRM.ValueObjects.Lead" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2014/10/30/HL.DistributorCRM.ValueObjects.Lead" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="ExportContactResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportContactResponse" nillable="true" type="tns:ExportContactResponse" />
  <xs:complexType name="ExportContactResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExportContactResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExportedFilePath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportContactResponse_V01" nillable="true" type="tns:ExportContactResponse_V01" />
</xs:schema>