MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2012/10/22/HL.DistributorCRM.Lead.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2012/10/22/HL.DistributorCRM.Lead.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="EnableDistributorToReceiveHL24LeadsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnableDistributorToReceiveHL24LeadsRequest" nillable="true" type="tns:EnableDistributorToReceiveHL24LeadsRequest" />
  <xs:complexType name="EnableDistributorToReceiveHL24LeadsRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EnableDistributorToReceiveHL24LeadsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activate" type="xs:boolean" />
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Validate" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnableDistributorToReceiveHL24LeadsRequest_V01" nillable="true" type="tns:EnableDistributorToReceiveHL24LeadsRequest_V01" />
  <xs:complexType name="EnableDistributorToReceiveHL24LeadsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnableDistributorToReceiveHL24LeadsResponse" nillable="true" type="tns:EnableDistributorToReceiveHL24LeadsResponse" />
  <xs:complexType name="EnableDistributorToReceiveHL24LeadsResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EnableDistributorToReceiveHL24LeadsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnableDistributorToReceiveHL24LeadsResponse_V01" nillable="true" type="tns:EnableDistributorToReceiveHL24LeadsResponse_V01" />
</xs:schema>