MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/02/178/HL.Common.DataContract.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/02/178/HL.Common.DataContract.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="SimpleTableResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SimpleTableResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="compressedDataTable" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SimpleTableResponse_V01" nillable="true" type="tns:SimpleTableResponse_V01" />
  <xs:complexType name="SimpleTableResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SimpleTableResponse" nillable="true" type="tns:SimpleTableResponse" />
</xs:schema>