MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2013/11/27/HL.DistributorCRM.ValueObjects.Lead" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2013/11/27/HL.DistributorCRM.ValueObjects.Lead" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd5" namespace="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Lead" />
  <xs:complexType name="GetLeadCountryListResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLeadCountryListResponse" nillable="true" type="tns:GetLeadCountryListResponse" />
  <xs:complexType name="GetLeadCountryListResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetLeadCountryListResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Lead" minOccurs="0" name="LeadCountryList" nillable="true" type="q2:ArrayOfLeadCountry" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLeadCountryListResponse_V01" nillable="true" type="tns:GetLeadCountryListResponse_V01" />
</xs:schema>