MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/12/10/HL.DistributorCRM.ValueObjects.Email" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/12/10/HL.DistributorCRM.ValueObjects.Email" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd21" namespace="http://herbalife.com/2010/01/21/HL.DistributorCRM.ValueObjects.Email" />
  <xs:complexType name="BTBulkEmailResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTBulkEmailResponse" nillable="true" type="tns:BTBulkEmailResponse" />
  <xs:complexType name="BTBulkEmailResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BTBulkEmailResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://herbalife.com/2010/01/21/HL.DistributorCRM.ValueObjects.Email" minOccurs="0" name="BulkEmails" nillable="true" type="q2:ArrayOfBulkEmail_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTBulkEmailResponse_V01" nillable="true" type="tns:BTBulkEmailResponse_V01" />
</xs:schema>