MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/01/21/HL.DistributorCRM.ValueObjects.Contact" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/01/21/HL.DistributorCRM.ValueObjects.Contact" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="ContactListInfo_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:VersionedObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactsCount" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactListInfo_V01" nillable="true" type="tns:ContactListInfo_V01" />
  <xs:complexType name="ArrayOfContactListInfo_V01">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactListInfo_V01" nillable="true" type="tns:ContactListInfo_V01" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactListInfo_V01" nillable="true" type="tns:ArrayOfContactListInfo_V01" />
</xs:schema>