MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Contact" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Contact" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd26" namespace="http://herbalife.com/2010/02/17/HL.DistributorCRM.ValueObjects.Contact" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd22" namespace="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Contact" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd24" namespace="http://herbalife.com/2007/12/12/HL.Common.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd56" namespace="http://herbalife.com/2010/01/21/HL.DistributorCRM.ValueObjects.Contact" />
  <xs:complexType name="ListContactsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:DistributorRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListContactsRequest" nillable="true" type="tns:ListContactsRequest" />
  <xs:complexType name="ListContactsByOwnerRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ListContactsRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListContactsByOwnerRequest_V01" nillable="true" type="tns:ListContactsByOwnerRequest_V01" />
  <xs:complexType name="ListContactsByNameRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ListContactsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListContactsByNameRequest_V01" nillable="true" type="tns:ListContactsByNameRequest_V01" />
  <xs:complexType name="ListContactsByListIDsRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ListContactsRequest">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ContactListIDs" nillable="true" type="q2:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListContactsByListIDsRequest_V01" nillable="true" type="tns:ListContactsByListIDsRequest_V01" />
  <xs:complexType name="ListContactsByFilterRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ListContactsRequest">
        <xs:sequence>
          <xs:element xmlns:q3="http://herbalife.com/2010/02/17/HL.DistributorCRM.ValueObjects.Contact" minOccurs="0" name="ContactFilter" nillable="true" type="q3:ContactFilter_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListContactsByFilterRequest_V01" nillable="true" type="tns:ListContactsByFilterRequest_V01" />
  <xs:complexType name="GetContactRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q4:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetContactRequest" nillable="true" type="tns:GetContactRequest" />
  <xs:complexType name="GetContactRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetContactRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetContactRequest_V01" nillable="true" type="tns:GetContactRequest_V01" />
  <xs:complexType name="GetContactByContactDistributorIDRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetContactRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactDistributorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetContactByContactDistributorIDRequest_V01" nillable="true" type="tns:GetContactByContactDistributorIDRequest_V01" />
  <xs:complexType name="GetContactByContactDistributorIDResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Contact" base="q5:GetContactResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetContactByContactDistributorIDResponse_V01" nillable="true" type="tns:GetContactByContactDistributorIDResponse_V01" />
  <xs:complexType name="SaveContactRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q6:DistributorRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveContactRequest" nillable="true" type="tns:SaveContactRequest" />
  <xs:complexType name="SaveContactRequest_V02">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SaveContactRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element xmlns:q7="http://herbalife.com/2007/12/12/HL.Common.ValueObjects" minOccurs="0" name="Name" nillable="true" type="q7:Name_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveContactRequest_V02" nillable="true" type="tns:SaveContactRequest_V02" />
  <xs:complexType name="SaveContactRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SaveContactRequest">
        <xs:sequence>
          <xs:element xmlns:q8="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Contact" minOccurs="0" name="Contact" nillable="true" type="q8:Contact_V01" />
          <xs:element minOccurs="0" name="IsImport" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveContactRequest_V01" nillable="true" type="tns:SaveContactRequest_V01" />
  <xs:complexType name="SaveContactRequest_V03">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SaveContactRequest">
        <xs:sequence>
          <xs:element xmlns:q9="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Contact" minOccurs="0" name="Contact" nillable="true" type="q9:Contact_V06" />
          <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveContactRequest_V03" nillable="true" type="tns:SaveContactRequest_V03" />
  <xs:complexType name="SaveContactsIsNewStatusRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SaveContactRequest">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ContactIDs" nillable="true" type="q10:ArrayOfint" />
          <xs:element minOccurs="0" name="IsNewContact" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveContactsIsNewStatusRequest_V01" nillable="true" type="tns:SaveContactsIsNewStatusRequest_V01" />
  <xs:complexType name="ImportContactsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q11:DistributorRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImportContactsRequest" nillable="true" type="tns:ImportContactsRequest" />
  <xs:complexType name="ImportContactsRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImportContactsRequest">
        <xs:sequence>
          <xs:element xmlns:q12="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Contact" minOccurs="0" name="Contacts" nillable="true" type="q12:ArrayOfContact_V05" />
          <xs:element minOccurs="0" name="ImportMode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImportContactsRequest_V01" nillable="true" type="tns:ImportContactsRequest_V01" />
  <xs:complexType name="DeleteContactRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q13:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteContactRequest" nillable="true" type="tns:DeleteContactRequest" />
  <xs:complexType name="DeleteContactsByIDRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeleteContactRequest">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ContactIDs" nillable="true" type="q14:ArrayOfint" />
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteContactsByIDRequest_V01" nillable="true" type="tns:DeleteContactsByIDRequest_V01" />
  <xs:complexType name="DeleteContactRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeleteContactRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteContactRequest_V01" nillable="true" type="tns:DeleteContactRequest_V01" />
  <xs:complexType name="DeleteContactListRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q15:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteContactListRequest" nillable="true" type="tns:DeleteContactListRequest" />
  <xs:complexType name="DeleteContactListRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeleteContactListRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactListID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteContactListRequest_V01" nillable="true" type="tns:DeleteContactListRequest_V01" />
  <xs:complexType name="CopyContactListRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q16:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CopyContactListRequest" nillable="true" type="tns:CopyContactListRequest" />
  <xs:complexType name="CopyContactListRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CopyContactListRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceListID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CopyContactListRequest_V01" nillable="true" type="tns:CopyContactListRequest_V01" />
  <xs:complexType name="AddContactsToListRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q17:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddContactsToListRequest" nillable="true" type="tns:AddContactsToListRequest" />
  <xs:complexType name="AddContactsToListRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddContactsToListRequest">
        <xs:sequence>
          <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ContactIDs" nillable="true" type="q18:ArrayOfint" />
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
          <xs:element xmlns:q19="http://herbalife.com/2010/01/21/HL.DistributorCRM.ValueObjects.Contact" minOccurs="0" name="List" nillable="true" type="q19:ContactListInfo_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddContactsToListRequest_V01" nillable="true" type="tns:AddContactsToListRequest_V01" />
  <xs:complexType name="ListContactListsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q20:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListContactListsRequest" nillable="true" type="tns:ListContactListsRequest" />
  <xs:complexType name="ListContactListsByOwnerRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ListContactListsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RetrieveCount" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListContactListsByOwnerRequest_V01" nillable="true" type="tns:ListContactListsByOwnerRequest_V01" />
  <xs:complexType name="AddDistributorsToContactsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q21:DistributorRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddDistributorsToContactsRequest" nillable="true" type="tns:AddDistributorsToContactsRequest" />
  <xs:complexType name="AddDistributorsToContactsRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddDistributorsToContactsRequest">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DistributorIDs" nillable="true" type="q22:ArrayOfstring" />
          <xs:element minOccurs="0" name="ImportMode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddDistributorsToContactsRequest_V01" nillable="true" type="tns:AddDistributorsToContactsRequest_V01" />
  <xs:complexType name="AddDistributorsToContactsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q23:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddDistributorsToContactsResponse" nillable="true" type="tns:AddDistributorsToContactsResponse" />
  <xs:complexType name="AddDistributorsToContactsResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AddDistributorsToContactsResponse">
        <xs:sequence>
          <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MissingDistributors" nillable="true" type="q24:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddDistributorsToContactsResponse_V01" nillable="true" type="tns:AddDistributorsToContactsResponse_V01" />
</xs:schema>