MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Qualification" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Qualification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd16" namespace="http://herbalife.com/2010/02/17/HL.DistributorCRM.ValueObjects.Qualification" />
  <xs:complexType name="ArrayOfDistributorQualification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistributorQualification" nillable="true" type="tns:DistributorQualification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistributorQualification" nillable="true" type="tns:ArrayOfDistributorQualification" />
  <xs:complexType name="DistributorQualification">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinimumPurchaseAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinimumVolumePoints" type="xs:decimal" />
      <xs:element minOccurs="0" name="Properties" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="QualificationQualifier" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://herbalife.com/2010/02/17/HL.DistributorCRM.ValueObjects.Qualification" minOccurs="0" name="QualificationType" type="q1:QualificationPromotionType" />
      <xs:element minOccurs="0" name="SubEventId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistributorQualification" nillable="true" type="tns:DistributorQualification" />
  <xs:complexType name="ArrayOfProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" nillable="true" type="tns:Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProperty" nillable="true" type="tns:ArrayOfProperty" />
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
</xs:schema>