MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Calendar" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Calendar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd52" namespace="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Calendar" />
  <xs:complexType name="GetCalendarSettingsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCalendarSettingsRequest" nillable="true" type="tns:GetCalendarSettingsRequest" />
  <xs:complexType name="GetCalendarSettingsRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCalendarSettingsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCalendarSettingsRequest_V01" nillable="true" type="tns:GetCalendarSettingsRequest_V01" />
  <xs:complexType name="GetCalendarSettingsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCalendarSettingsResponse" nillable="true" type="tns:GetCalendarSettingsResponse" />
  <xs:complexType name="GetCalendarSettingsResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetCalendarSettingsResponse">
        <xs:sequence>
          <xs:element xmlns:q3="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Calendar" minOccurs="0" name="CalendarSettings" nillable="true" type="q3:CalendarSettings_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCalendarSettingsResponse_V01" nillable="true" type="tns:GetCalendarSettingsResponse_V01" />
  <xs:complexType name="SaveCalendarSettingsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q4:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveCalendarSettingsRequest" nillable="true" type="tns:SaveCalendarSettingsRequest" />
  <xs:complexType name="SaveCalendarSettingsRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SaveCalendarSettingsRequest">
        <xs:sequence>
          <xs:element xmlns:q5="http://herbalife.com/2010/01/11/HL.DistributorCRM.ValueObjects.Calendar" minOccurs="0" name="CalendarSettings" nillable="true" type="q5:CalendarSettings_V01" />
          <xs:element minOccurs="0" name="DistributorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveCalendarSettingsRequest_V01" nillable="true" type="tns:SaveCalendarSettingsRequest_V01" />
  <xs:complexType name="SaveCalendarSettingsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q6:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveCalendarSettingsResponse" nillable="true" type="tns:SaveCalendarSettingsResponse" />
  <xs:complexType name="SaveCalendarSettingsResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SaveCalendarSettingsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="CalendarSettingsID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveCalendarSettingsResponse_V01" nillable="true" type="tns:SaveCalendarSettingsResponse_V01" />
</xs:schema>