MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2014/09/16/HL.DistributorCRM.ValueObjects.Lead" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2014/09/16/HL.DistributorCRM.ValueObjects.Lead" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="LeadDashboradCities">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeadDashboradCities" nillable="true" type="tns:LeadDashboradCities" />
  <xs:complexType name="GetLeadDashboradCitiesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLeadDashboradCitiesRequest" nillable="true" type="tns:GetLeadDashboradCitiesRequest" />
  <xs:complexType name="GetLeadDashboradCitiesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLeadDashboradCitiesResponse" nillable="true" type="tns:GetLeadDashboradCitiesResponse" />
  <xs:complexType name="ArrayOfLeadDashboradCities">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeadDashboradCities" nillable="true" type="tns:LeadDashboradCities" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeadDashboradCities" nillable="true" type="tns:ArrayOfLeadDashboradCities" />
</xs:schema>