MyHerbalife3.Ordering.ServiceProvider/Service References/DistributorCrmSvc/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2010/09/23/HL.DistributorCRM.ValueObjects.Lead" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2010/09/23/HL.DistributorCRM.ValueObjects.Lead" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd5" namespace="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Lead" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd1" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:import schemaLocation="http://usws1qa3wcf01.hrbl.net/Service/DistributorCRM/Service.svc?xsd=xsd39" namespace="http://herbalife.com/2010/10/27/HL.DistributorCRM.ValueObjects.Lead" />
  <xs:complexType name="UpdateLeadByDistributorResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdateLeadByDistributorResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://herbalife.com/2010/01/10/HL.DistributorCRM.ValueObjects.Lead" minOccurs="0" name="LeadsData" nillable="true" type="q1:LeadInfo" />
          <xs:element minOccurs="0" name="ResultStatus" nillable="true" type="tns:LeadAcceptStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateLeadByDistributorResponse_V01" nillable="true" type="tns:UpdateLeadByDistributorResponse_V01" />
  <xs:complexType name="UpdateLeadByDistributorResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateLeadByDistributorResponse" nillable="true" type="tns:UpdateLeadByDistributorResponse" />
  <xs:complexType name="LeadAcceptStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://herbalife.com/2010/10/27/HL.DistributorCRM.ValueObjects.Lead" minOccurs="0" name="ResultStatus" type="q3:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeadAcceptStatus" nillable="true" type="tns:LeadAcceptStatus" />
  <xs:complexType name="UpdateLeadByDistributorRequest_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UpdateLeadByDistributorRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accepted" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistributorId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LeadId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateLeadByDistributorRequest_V01" nillable="true" type="tns:UpdateLeadByDistributorRequest_V01" />
  <xs:complexType name="UpdateLeadByDistributorRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q4:ServiceRequestParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateLeadByDistributorRequest" nillable="true" type="tns:UpdateLeadByDistributorRequest" />
</xs:schema>