MyHerbalife3.Ordering.ServiceProvider/Service References/AddressValidationSvc/AddressValidationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:avs="http://schemas.herbalife.com/AddressServices/V02/Service/AddressValidation" xmlns:as="http://schemas.herbalife.com/AddressServices/V02/AddressServices" blockDefault="#all" elementFormDefault="qualified" targetNamespace="http://schemas.herbalife.com/AddressServices/V02/Service/AddressValidation" version="2.0.1" id="AddressValidationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AddressServices.xsd" namespace="http://schemas.herbalife.com/AddressServices/V02/AddressServices" />
  <xs:element name="ValidateAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="as:ReturnSuggestions" />
        <xs:element ref="as:Address" />
        <xs:element minOccurs="0" ref="as:UseSuggestedFirstLine" />
        <xs:element minOccurs="0" ref="as:UseSuggestedLastLine" />
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="as:ValidationResult" />
        <xs:element ref="as:Address" />
        <xs:element minOccurs="0" ref="as:FirstLineSuggestions" />
        <xs:element minOccurs="0" ref="as:LastLineSuggestions" />
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>