MyHerbalife3.Ordering.ServiceProvider/Service References/SubmitOrderBTSvc/Address.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://bt.orderingsystem.hrbl.v01.address" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" elementFormDefault="qualified" targetNamespace="http://bt.orderingsystem.hrbl.v01.address" id="Address" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Address">
    <xs:annotation>
      <xs:appinfo />
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Line1" type="xs:string" />
        <xs:element name="Line2" type="xs:string" />
        <xs:element name="Line3" type="xs:string" />
        <xs:element name="Line4" type="xs:string" />
        <xs:element name="City" type="xs:string" />
        <xs:element name="CountyDistrict" type="xs:string" />
        <xs:element name="StateProvinceTerritory" type="xs:string" />
        <xs:element name="PostalCode" type="xs:string" />
        <xs:element name="Country" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>