MyHerbalife3.Ordering.ServiceProvider/Service References/SubmitOrderBTSvc/Item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://bt.orderingsystem.hrbl.v01.item" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://bt.orderingsystem.hrbl.v01.item" id="Item" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SKU" type="xs:string" />
        <xs:element name="Quantity">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="EarnBase" nillable="true" type="xs:decimal" />
        <xs:element name="ItemDescription" type="xs:string" />
        <xs:element name="LineTotal" nillable="true" type="xs:decimal" />
        <xs:element name="UnitPrice" nillable="true" type="xs:decimal" />
        <xs:element name="VolumePoints" nillable="true" type="xs:decimal" />
        <xs:element name="DistributorCost" nillable="true" type="xs:decimal" />
        <xs:element name="Flavor" type="xs:string" />
        <xs:element name="PriceWithCharges" nillable="true" type="xs:decimal" />
        <xs:element name="SortOrder" nillable="true" type="xs:int" />
        <xs:element name="ProductType" type="xs:string" />
        <xs:element name="UnitVolume" nillable="true" type="xs:string" />
        <xs:element name="TaxBeforeDiscount" type="xs:string" />
        <xs:element name="TaxAfterDiscount" type="xs:string" />
        <xs:element name="DiscountAmount" type="xs:string" />
        <xs:element name="WarehouseCode" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>