MyHerbalife3.Ordering.ServiceProvider/Service References/SubmitOrderBTSvc/SubmitOrder1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://bt.orderingsystem.hrbl.v01.package" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://bt.orderingsystem.hrbl.v01.package" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Package">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PackageType" type="xs:string" />
        <xs:element name="Unit" type="xs:string" />
        <xs:element name="Volume" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>