MyHerbalife3.Ordering.ServiceProvider/Service References/SubmitOrderBTSvc/SubmitOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://BT.HL.Schemas.Order" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://BT.HL.Schemas.Order" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="LastName" type="xs:string" />
        <xs:element name="Telephone" type="xs:string" />
        <xs:element name="Email" type="xs:string" />
        <xs:element name="ContactPreference" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>