MyHerbalife3.Ordering.ServiceProvider/Service References/ShippingChinaSvc/ChinaShipping.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/Imports">
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Shipping/ChinaShipping.svc?xsd=xsd4" namespace="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces" />
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Shipping/ChinaShipping.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Shipping/ChinaShipping.svc?xsd=xsd1" namespace="http://herbalife.com/2010/02/02/HL.Shipping.ValueObjects" />
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Shipping/ChinaShipping.svc?xsd=xsd2" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
      <xsd:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Shipping/ChinaShipping.svc?xsd=xsd3" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.Interfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChinaShipping_GetProvinceStoreMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceStoreMapping" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetProvinceStoreMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvinceStoreMappingResponse" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetGetExpressCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGetExpressCompany" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetGetExpressCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGetExpressCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetUnsupportedAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnsupportedAddress" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetUnsupportedAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnsupportedAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetUnsupportedExpressAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnsupportedExpressAddress" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetUnsupportedExpressAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnsupportedExpressAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetBaiduMapJavascript_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaiduMapJavascript" />
  </wsdl:message>
  <wsdl:message name="IChinaShipping_GetBaiduMapJavascript_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaiduMapJavascriptResponse" />
  </wsdl:message>
  <wsdl:portType name="IChinaShipping">
    <wsdl:operation name="GetProvinceStoreMapping">
      <wsdl:input wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetProvinceStoreMapping" message="tns:IChinaShipping_GetProvinceStoreMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetProvinceStoreMappingResponse" message="tns:IChinaShipping_GetProvinceStoreMapping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGetExpressCompany">
      <wsdl:input wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetGetExpressCompany" message="tns:IChinaShipping_GetGetExpressCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetGetExpressCompanyResponse" message="tns:IChinaShipping_GetGetExpressCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnsupportedAddress">
      <wsdl:input wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetUnsupportedAddress" message="tns:IChinaShipping_GetUnsupportedAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetUnsupportedAddressResponse" message="tns:IChinaShipping_GetUnsupportedAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnsupportedExpressAddress">
      <wsdl:input wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetUnsupportedExpressAddress" message="tns:IChinaShipping_GetUnsupportedExpressAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetUnsupportedExpressAddressResponse" message="tns:IChinaShipping_GetUnsupportedExpressAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaiduMapJavascript">
      <wsdl:input wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetBaiduMapJavascript" message="tns:IChinaShipping_GetBaiduMapJavascript_InputMessage" />
      <wsdl:output wsaw:Action="http://herbalife.com/2010/02/02/HL.Shipping.Interfaces/IChinaShipping/GetBaiduMapJavascriptResponse" message="tns:IChinaShipping_GetBaiduMapJavascript_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>