MyHerbalife3.Ordering.ServiceProvider/Service References/CommunicationSvc/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2011/01/11/HL.Communication.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2011/01/11/HL.Communication.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Communication/Service.svc?xsd=xsd2" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="TriggeredSendResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TriggeredSendResponse" nillable="true" type="tns:TriggeredSendResponse" />
  <xs:complexType name="TriggeredSendResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TriggeredSendResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TriggeredSendResponse_V01" nillable="true" type="tns:TriggeredSendResponse_V01" />
  <xs:complexType name="BulkEmailSendResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BulkEmailSendResponse" nillable="true" type="tns:BulkEmailSendResponse" />
  <xs:complexType name="BulkEmailSendResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BulkEmailSendResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="BulkMailingID" type="xs:int" />
          <xs:element minOccurs="0" name="SendResponseID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BulkEmailSendResponse_V01" nillable="true" type="tns:BulkEmailSendResponse_V01" />
  <xs:complexType name="BTCreateDataExtensionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q3:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTCreateDataExtensionResponse" nillable="true" type="tns:BTCreateDataExtensionResponse" />
  <xs:complexType name="BTCreateDataExtensionResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BTCreateDataExtensionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateStatus" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTCreateDataExtensionResponse_V01" nillable="true" type="tns:BTCreateDataExtensionResponse_V01" />
  <xs:complexType name="BTPerformSendResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q4:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTPerformSendResponse" nillable="true" type="tns:BTPerformSendResponse" />
  <xs:complexType name="BTPerformSendResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BTPerformSendResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SendResponseID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTPerformSendResponse_V01" nillable="true" type="tns:BTPerformSendResponse_V01" />
  <xs:complexType name="BTCreateImportDefinitionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q5:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTCreateImportDefinitionResponse" nillable="true" type="tns:BTCreateImportDefinitionResponse" />
  <xs:complexType name="BTCreateImportDefinitionResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BTCreateImportDefinitionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ImportJobID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTCreateImportDefinitionResponse_V01" nillable="true" type="tns:BTCreateImportDefinitionResponse_V01" />
  <xs:complexType name="BTCheckImportProcessResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q6:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTCheckImportProcessResponse" nillable="true" type="tns:BTCheckImportProcessResponse" />
  <xs:complexType name="BTCheckImportProcessResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BTCheckImportProcessResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsComplete" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BTCheckImportProcessResponse_V01" nillable="true" type="tns:BTCheckImportProcessResponse_V01" />
  <xs:complexType name="SendDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q7:ServiceResponseValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendDetailsResponse" nillable="true" type="tns:SendDetailsResponse" />
  <xs:complexType name="SendDetailsResponse_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SendDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SentHistory" nillable="true">
            <xs:complexType>
              <xs:annotation>
                <xs:appinfo>
                  <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendDetailsResponse_V01" nillable="true" type="tns:SendDetailsResponse_V01" />
</xs:schema>