MyHerbalife3.Ordering.ServiceProvider/Service References/CommunicationSvc/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://herbalife.com/2011/03/20/HL.Common.ValueObjects" elementFormDefault="qualified" targetNamespace="http://herbalife.com/2011/03/20/HL.Common.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://usslcprodwcf00.hrbl.net/Service/Communication/Service.svc?xsd=xsd2" namespace="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" />
  <xs:complexType name="TrackedValue_V01EmailAddress_V01">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackedValue_V01{0}" Namespace="http://herbalife.com/2011/03/20/HL.Common.ValueObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EmailAddress_V01" Namespace="http://herbalife.com/2011/03/20/HL.Common.ValueObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TrackedValueBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExternalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Order" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:EmailAddress_V01" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrackedValue_V01EmailAddress_V01" nillable="true" type="tns:TrackedValue_V01EmailAddress_V01" />
  <xs:complexType name="TrackedValueBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q1:VersionedObjectBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrackedValueBase" nillable="true" type="tns:TrackedValueBase" />
  <xs:complexType name="EmailAddress_V01">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EmailAddressBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPrimary" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailAddress_V01" nillable="true" type="tns:EmailAddress_V01" />
  <xs:complexType name="EmailAddressBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://herbalife.com/2007/12/12/HL.Common.DataContract.ValueObjects" base="q2:VersionedObjectBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailAddressBase" nillable="true" type="tns:EmailAddressBase" />
  <xs:complexType name="TrackedValue_V01EmailAddressBase">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackedValue_V01{0}" Namespace="http://herbalife.com/2011/03/20/HL.Common.ValueObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EmailAddressBase" Namespace="http://herbalife.com/2011/03/20/HL.Common.ValueObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TrackedValueBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExternalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Order" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="tns:EmailAddressBase" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrackedValue_V01EmailAddressBase" nillable="true" type="tns:TrackedValue_V01EmailAddressBase" />
</xs:schema>